*{
	margin: 0px; padding: 0px;
}
body{
	position: relative;
}
a{
	list-style-type: none;
}
a:hover{
	color: red;
}
.daoh1{
	width: 100%; height:50px ; border-bottom: 1px solid gainsboro;
}
.daoh11{
	width: 1000px; height:50px ;/* border: 1px solid red;*/ margin: auto;
}
ul{
	list-style-type: none;
}
.nba{
	float: left; font-size: 25px; font-style: italic; margin-top: 5px; 
}
.daoh1 .daoh11 ul .l:not(.nba){
	float: left; margin-left: 20px; margin-top: 15px; 
}
.glyphicon-triangle-bottom{
	color: grey; display: none;
}
.denglu{
	float: right; color: red; margin-top: 15px; 
}
.daoh1 .daoh11 ul li a:not(.a-nba){
	color: grey;
}
.daoh1 .daoh11 ul li a:not(.a-nba):hover{
	color: red;
}
.daoh1 .daoh11 ul li .a-nba{
	color: black;
}

.gengduo{
	width: 200px; height: 50px; border: 1px solid gainsboro;
	position: absolute; left: 650px; display: none; z-index: 2;
	background-color: gainsboro;
	
}
.gengduo ul li{
	float: left; width: 47px;
}
#dengluzhuce{
	position: absolute;left: 600px; top: 200px;z-index: 10; width: 350px; height: 300px;
	/*border: 1px solid black;*/ background-color: gainsboro; display: none;
}

#dengluzhuce table {
	display: block; position: absolute;top: 30px; left: 25px;
}
#dengluzhuce table tr{
	display: block; margin-top: 20px; /*border: 1px solid red;*/
	width: 300px; height: 30px;
}
#dengluzhuce table tr .td1{	
	width: 100%; height: 100%;
}
.td2{	
	width: 50%; height: 50%;
}
#dengluzhuce table tr .td1 input{	
	display: block; width: 300px; height: 30px;
}
.glyphicon-remove{
	display: block;position: absolute;right: 0px;
}

.bg-img{
	background-image: url(../img/banner.jpg); 
	width: 100%; height: 160px; 
}
.daoHang2{
	width: 100%; height: 30px; background-color: red;
	position: absolute;top: 210px; overflow: hidden;
}
.daoHang2 ul li{
	float: left; margin-left: 30px; margin-top: 5px;
}
.daoHang2 ul li:not(.this) a{
	color: gainsboro;
}
.daoHang2 ul li a:hover{
	color: white;
}
.this a{
	color: white;
}

.dao1{
	width: 300px; height: 30px;
	transform:skew(-30deg);
	-webkit-transform: skew(-30deg);   
	-moz-transform: skew(-30deg);   
	-o-transform:skew(-30deg);   
	-ms-transform:skew(-30deg);   
	/*background-color: red; */  
	/*margin: 50px auto; */ 
	/*width: 300px; height: 30px;*/ background-color: black; float: right; 
	position: absolute;top: 0px;right: -10px; overflow: hidden;
}

.inp-s{
	display: inline-block; position: absolute;right: 300px;top: 5px; /*z-index: 5;*/
	background-color: rgba(98,98,98,0.5); border-style: none;
	color: white;
}
.glyphicon-search{
	position: absolute;right: 270px;top: 8px; color: white;
}

/*欧文图片*/
.ki-img{
	width: 300px; height: 350px; border-top: 2px solid rgba(153,217,234,1); 
	position: absolute;top: 270px; left: 50px; overflow: hidden;
	text-align: center;
}

.trF-1{
    width: 30px;
    height: 30px;
    background-color: rgba(153,217,234,1);
    position: absolute;left: -15px; top: -15px;
    transform: rotate(45deg);
    z-index: 2;
}
.trF-2{
    width: 180px;
    height: 180px;
    background-color: gainsboro;
    position: absolute;left: -90px; top: -90px;
    transform: rotate(-45deg);
}
.trF-2 a{
    display: block; position: absolute;bottom: 0px; left: 65px;
    z-index: 3;
}
.img-boshiD{
	display: block;position: absolute;top: 10px; left: 10px; width: 50px;
	z-index: 2;
}
.ow-sp1{
	font-size: 30px; 
}
.ow-sp2{
	color: gray; font-size: 15px; 
}

/*欧文信息*/
.ki-xinxi{
	width: 300px; height: 350px; border-top: 2px solid rgba(153,217,234,1); 
	position: absolute;top: 270px; left: 370px; overflow: hidden;	
}
.ki-xinxi ul li{
	height: 40px;	 	
}
.big-blu{
	font-size: 25px; color: #337AB7;
}
.glyphicon-chevron-up{
	display: block;position: absolute;top: 0px; right: 0px;
}
.glyphicon-chevron-up:hover{
	color: orange;
}
.glyphicon-chevron-down:hover{
	color: orange;
}
.glyphicon-chevron-down{
	display: none;position: absolute;top: 0px; right: 0px;
}
/*欧文实力*/
.ki-shili{
	width: 300px; height: 350px; border-top: 2px solid rgba(153,217,234,1); 
	position: absolute;top: 270px; left: 690px; overflow: hidden;		
}
.ki-shili ul li{
	height: 40px;	 	
}

/*其他球员*/
.qt-xt{
	width: 300px; height: 350px; border-top: 2px solid rgba(153,217,234,1); 
	position: absolute;top: 270px; left: 1010px; 	
}
.qt-s1{
	font-size: 25px; color: #337AB7;
}
.qt-xt div{	
	width: 80px; height: 80px; border-radius: 100px; overflow: hidden;
	/*background-color: gainsboro;*/
}
.qt-1{
	position: absolute;top: 40px; left: 20px;
}
.qt-2{
	position: absolute;top: 40px; right: 10px;
}
.qt-3{
	position: absolute;top: 140px; left: 120px;
}
.qt-4{
	position: absolute;top: 240px; left: 20px;
}
.qt-5{
	position: absolute;top: 240px; right: 10px;
}
.qt-img{
	width: 100%; height: 100%; position: absolute;top: 0px; left: 0px;
	border-radius: 100px; background-color: rgba(95,100,220,0.5);
	display: none; 
}
.qt-img span{
	display: block; position: absolute;top: 40px; left: 25px;
	color: white;	 
}
.qt-xt div img{
	width: 100px;height: 80px; position: absolute;left: -10px;
}


/*底部*/
.bott{
	width: 100%; height: 300px; position: absolute;top: 620px;
	background-color: rgba(244,244,244,1); 
}
.bott-1{
	width: 100%;height: 100px; position: absolute;top: 40px;
}
.bott-1 div{
	height: 100px; /*border: 1px solid red;*/ float: left;
	position: relative;
}
.bott-1 .bo-1,.bo-2,.bo-3{
	border-right: 1px solid gray;
}
.bott-1 .bo-1,.bo-4{
	width: 400px;
}
.bott-1 .bo-2,.bo-3{
	width: 270px;
}

.bott .bo-1 img{
	display: block; position: absolute;top: 20px;right: 40px;
}
.bott-tab{
	position: absolute;/*top: 20px;*/left: 35px;
}
.bott-tab tr{
	height: 30px;
}
.bott-tab tr td:not(.big-td){
	width: 100px;
}
.bo-4 span{
	display: block;position: absolute;left: 40px;
}
.bo-4 img{
	background-color: gray;
}
.bo-4 .img-weibo{
	display: block;position: absolute;left: 40px;top: 30px;
}
.bo-4 img:hover{
	background-color: red;
}
.bo-4 .img-weixin{
	display: block;position: absolute;left: 90px;top: 30px;
}

.bott-cen{
	width: 650px;margin: auto; margin-top: 170px; text-align: center;
}
.div5-wb{
	width: 90px; height: 90px;
	position: absolute;top: 80px;left: 40px;background-color: white;
	border-left: 1px solid gainsboro; display: none;
}
.div6-wx{
	width: 90px; height: 90px;
	position: absolute;top: 80px;left: 40px;background-color: white;
	border-left: 1px solid gainsboro; display: none;
}
.div5-wb div{
	width: 10px; height: 10px;border-top: 1px solid black; 
	border-left: 1px solid gainsboro;
	position:absolute; top: -6px; left:15px;
	transform: rotate(45deg);/*z-index: 2;*/
	background-color: white;
}
.div5-wb img{
	display: block;
	position:absolute; top: 5px; left:5px;	        	
}
.div6-wx div{
	width: 10px; height: 10px;border-top: 1px solid black; 
	border-left: 1px solid gainsboro;
	position:absolute; top: -6px; left:65px;
	transform: rotate(45deg);/*z-index: 2;*/
	background-color: white;
}
.div6-wx img{
	display: block;
	position:absolute; top: 5px; left:5px;	        	
}

